<div class="position-relative">
  <div class="box-form-loader" *ngIf="isLoading">
    <app-loader ></app-loader>
  </div>
  <form class="row" [ngClass]="{'disable-box-form' : isLoading}" *ngIf="loginForm" [formGroup]="loginForm" >
    <div class="col-12" *ngFor="let field of fields">
      <div >
        <ngx-field-group
          [field]="field"
          [configForm]="loginForm"
          [controlName]="field.model"
          [mask]="field.mask"
          [placeholder]="field.placeHolder"
          [options]="field.listValue"
        >
        </ngx-field-group>
      </div>
    </div>
    <div class="col-12 text-center margin-t-10">
      <span [ngClass]="{'button-disabled ': loginForm.invalid || isLoading}" (click)="login(loginForm.value, loginForm.valid)" class="button-app-primary button-lg inline-button center">{{'LOGIN_BUTTON' | translate}}</span>
    </div>
  </form>
</div>

